.input {
  color: #6e707e;
  background: #fff;

  border: 1px solid #d1d3e2;

  font-weight: 400;
  font-size: 1rem;

  line-height: 1.5;
  padding: 0.6rem 1rem;

  outline: none;

  border-radius: 2rem;

  transition: border 0.1s;

  &:focus {
    border: 1px solid #7986e9;
  }

}
