.button {
  // width: 100%;

  background: #4e73df;
  color: #fff;

  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;

  border-radius: 1rem;
  cursor: pointer;

  border: 0;

  margin-top: 12px;

  transition: background 0.5s;

  &:hover {
    // filter: brightness(0.8);
    background: #3e5fc2;
  }
}