.button {
  // width: 100%;

  background: #4e73df;
  color: #fff;

  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;

  border-radius: 1rem;
  cursor: pointer;

  border: 0;

  margin-top: 12px;

  transition: background, filter 0.5s;

  &.outlined {
    background: #fff;
    // border: 1px solid rgb(147, 188, 236);
    color: #040d25;
    &:hover {
      filter: brightness(0.86);
    }
  }

  &.confirmed {
    background: #e73f5d;
    // border-radius: ;
    color: #fff;
    &:hover {
      filter: brightness(0.9);
    }
  }

  &:not(.outlined, .confirmed):hover {
    // filter: brightness(0.8);
    background: #3e5fc2;
  }

  // &:hover{
  //   filter: brightness(0.9);
  // }
}
