.container-body {
  height: calc(100vh - 4.75rem);
  padding: 0 1.5rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .separator {
      min-width: 50%;
    }

    .button {
      height: 38px;
      white-space: nowrap;
      font-weight: 400;

      border-radius: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 486px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .separator {
        width: 100%;
      }

      #button-create {
        width: 100%;
      }
    }

    h1 {
      color: var(--title-color);

      font-weight: 400;
      font-size: 1.75rem;

      margin-bottom: 1rem;
    }

    .search {
      display: flex;
      height: 38px;
      align-items: center;
      // padding: 9px;

      .input {
        flex: 1;
        line-height: 1.5rem;
        padding: 0.375rem 0.75rem;
        // border-bottom-right-radius: 0;
        // border-top-right-radius: 0;

        border-radius: 0.5rem 0 0 0.5rem;
      }

      .button {
        margin: 0;
        height: 100%;
        // align-items: center;
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }
}
