* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fff;
  --background-400: #f8f9fc;
  --text-color: #858796;
  --title-color: #5a5c69;
  --blue: #4e73df;
  --red: #e74a3b;
}

body,
input,
button,
textarea {
  font: 400 1rem "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: var(--background-400);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;

  main {
    flex: 1;
  }

  @media (max-width: 589px) {
    .sidebar-container {
      display: none;
    }
  }
}
