.Modal {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -10%;
  // right: 40px;
  // bottom: 40px;
  background: #5881da;
  border-radius: 8px;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
  border: 1px solid rgb(161, 165, 224);

  flex-direction: column;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .header-container {
    flex-direction: column;

    width: 90%;
    height: 8rem;

    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 24px;
      color: #2e2a29;
    }

    span {
      margin-top: 5px;
      font-size: 16px;
      color: #737380;
    }
  }

  .footer-container {
    display: flex;
    gap: 16px;
  }
}
