.header-container {
  // background: palegreen;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 4.75rem;

  box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);

  @media(max-width: 995px){
    span {
      display: none;
    }

    .exit-container {
      width: 2rem;
    }
  }

  img {
    width: 36px;
    height: 36px;

    border-radius: 50%;
  }

  > ul {
    display: flex;
    margin-right: 2rem;

    .exit-container {
      display: flex;
      align-items: center;

      button {
        width: 4rem;
        height: 2rem;

        color: var(--text-color);
        font-size: 80%;

        padding: 0 0.5rem;
        border-radius: 1rem;

        outline: none;
        background:transparent; 
        border:none; 

        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: background 0.2s;

        &:hover {
          background: rgb(206, 227, 243);
          color: rgb(71, 71, 71);
        }
      }
    }

    .separator {
      width: 0;
      border-right: 1px solid #e3e6f0;
      height: calc(4.375rem - 2rem);
      margin: auto 1rem;
    }

    > li {
      a {
        color: var(--text-color);
        height: 4.375rem;
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
        text-decoration: none;

        span {
          margin-right: 1rem;
          font-size: 80%;
        }
      }
    }
  }
}
